@using Microsoft.AspNetCore.Identity
@using IdentityApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
	bool signedOut = ViewData["signed-out"] != null && (bool)ViewData["signed-out"];
	
}  
@if (SignInManager.IsSignedIn(User) && !signedOut)
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">登出</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
      
        

		<li>
			<a href="/Account/Login">登入</a>
		</li>
    </ul>
}


