
@{
    ViewData["Title"] = "test";
}

<h2>test</h2>

<form method="post" enctype="multipart/form-data"  action="/admin/uploads">
	<input name="postId" type="hidden" value="842" />
	<input name="files" type="file" multiple accept="accept" > 
		
	
	<button type="submit">Save</button>
</form>