@model BlogWebApp.Models.PostSearchModel



    <div class="col-sm-8 blog-main">
       @if (Model.Post != null)
       {
          
           @Html.Partial("_Post", Model)
       }
        


    </div><!-- /.blog-main -->
    <div class="col-sm-3 offset-sm-1 blog-sidebar">
       @if (Model.Post != null)
       {
           @Html.Partial("_Media", Model.Post.UploadFiles)
       }
      

       
    </div><!-- /.blog-sidebar -->


@if (Model.Ajax)
{

   <script type="text/javascript">
    $('.fancybox').fancybox();
   </script>
}






